@import "./variables";

@mixin container {
  margin: 0 auto;
  padding-left: 3em;
  padding-right: 3em;
  max-width: 140em;
}

@mixin img {
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin title {
  font-size: $fs-title-large;
  opacity: 0.4;
  color: $color-white;
}
