
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #0b2fcf;

$fs-title-large: 4.2em;
$fs-title: 3.2em;
$fs-subtitle: 2.4em;
$fs-main: 1.6em;

$bp-small: 31.25em;
$bp-medium: 50em;
$bp-large: 68.75em;
