@import "../../style/variables";
@import "../../style/mixins";

.form {
  &__container {
    background: transparent;
  }
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 70%;
  @media screen and (min-width: $bp-medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: bottom;
    width: 100%;
  }

  &__input {
    position: relative;
    @media screen and (min-width: $bp-medium) {
      width: 30%;
      display: flex;
    }
  }
  input {
    color: $color-black;
    font-size: $fs-main;
    padding: 0.5em 0;
    margin-bottom: 1em;
    outline: none;
    border: none;
    border-bottom: 1px solid $color-black;
    background: transparent;
    width: 100%;
    @media screen and (min-width: $bp-medium) {
      margin-bottom: 0;
    }
  }

  button {
    background: $color-blue;
    border: none;
    color: $color-white;
    font-size: $fs-main;
    text-align: center;
    padding: 1em 0;
    @media screen and (min-width: $bp-medium) {
      width: 30%;
    }
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    color: #ff0000;
  }
}
