@import "./style/_reset.scss";
@import "./style/_variables.scss";

html,
body {
  font-family: "Inter", sans-serif;
  min-width: 320px;
}

body {
  background: #000;

  input {
    font-size: 16px !important;
  }
}

// for insta video
iframe {
  min-width: 26em !important;
  margin: 0 auto !important;
}

// for insta video
