@import "../../style/mixins";
@import "../../style/variables";

.about {
  &__container {
    @include container;
  }
  color: $color-white;

  h5 {
    @include title;
    margin-bottom: 1em;
  }

  p {
    font-size: $fs-subtitle;
    line-height: 1.5em;
  }

  &__top {
    padding-top: 3em;
    padding-bottom: 3em;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.6) 65%,
        rgba(0, 0, 0, 1) 100%
      ),
      url(../../img/aboutUs/about-us-bg.jpg) center center/contain no-repeat;
    background-attachment: fixed;

    ul {
      list-style: none;
      li {
        font-size: $fs-subtitle;
      }
      li:not(li:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}
